---
import '../../styles/global.css';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import BlogReader from '../../components/BlogReader.astro';
import { t } from '../../i18n/utils';

const lang = 'en' as const;
---

<Layout title={`${t(lang, 'blog.title')} - Joey's Space`} description={t(lang, 'blog.subtitle')} lang={lang}>
  <div class="min-h-screen flex flex-col">
    <Header lang={lang} currentPath={Astro.url.pathname} />
    <main class="flex-grow pt-20">
      <BlogReader lang={lang} />
    </main>
    <Footer lang={lang} />
  </div>
</Layout>
